<div class="container-fluid h-100 p-0">
  <div class="pic-container row no-gutters">
    <div class="pic col-12"></div>
  </div>
  <div class="nopic-container row no-gutters">
    <div class="col-12"></div>
  </div>
</div>

<div class="container-fluid h-100 p-2 p-md-0 absolute">
  <div class="row no-gutters h-100 justify-content-center">
    <div class="col-12 col-md-8 my-auto">
      <div class="w-100">
        <div class="card arriba">
          <div class="card-body p-0">
            <div class="container-fluid p-0">
              <div class="row no-gutters">
                <div class="col-12 col-md-8 pr-0">
                  <img class="profile-sm mt-3 d-md-none" src="assets/profile.jpg">
                  <h3 class="text-white-bold mt-3 mt-md-5 ml-md-5 px-3 p-md-0">JOSE CACERES</h3>
                  <h5 class="text-white-bold ml-md-5 px-3 p-md-0">Software Engineer</h5>
                  <ul class="text-white-bold m-4 ml-md-5 px-3 p-md-0">
                    <li><i class="fas fa-envelope align-middle"></i> joseluiscacere8906@gmail.com</li>
                    <li><i class="fas fa-globe align-middle"></i><a href="www.josecaceres.info" class="text-white"> www.josecaceres.info</a></li>
                    <li><i class="fas fa-phone align-middle"></i> +57 318 217 1760</li>
                    <li><i class="fas fa-map-marker-alt align-middle"></i> Bogotá D.C / Colombia</li>
                  </ul>
                  <div class="ml-5 mb-5">
                    <a href="https://github.com/joseluis8906" target="_blank"><img src="assets/github-circle.png" width=32></a>
                    <a href="https://www.linkedin.com/in/jose-luis-c%C3%A1ceres-escudero-b4913b7a" target="_blank"><img src="assets/linkedin-circle.png" width=32 class="ml-2"></a>
                    <a href="https://www.youtube.com/channel/UC_d2Ho9NGR_RUMOzgezJI2w?view_as=subscriber" target="_blank"><img src="assets/youtube-circle.png" width=32 class="ml-2"></a>
                    <!--a href="https://twitter.com/joseluis8906" target="_blank"><img src="assets/twitter-circle.png" width=32 class="ml-2"></a-->
                  </div>
                </div>
                <div class="col-md-4 profile d-none d-md-block"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card abajo mt-5 mb-2 mb-md-0 px-3">
          <div class="card-body">
              <p class="mb-4">
                Hi!, I'm Jose Caceres, I'm a software developer who see tech as a way of life. I like solve problems throught coding, I think that every new challenge is an opportunity to learn and improve.
                I consider myself a tech enthusiast and a nerd who loves open source projects like linux, freebsd, docker, kubernetes and so much more.
                When someone ask me, what I think about team work, I always respond with the maxim: "you can go faster when you run alone, but you can go further when run as a team".
              </p>
              <div class="w-100 text-center row">
                  <div class="col-12 text-center"><a href="assets/cv.pdf"><button mat-button class="button">DOWNLOAD CV</button></a></div>
                  <!--div class="col-12 col-md-6 mt-3 mt-md-0 text-center text-md-left"><a href="https://portafolio.josecaceres.info/index.html"><button mat-button class="button">PORTAFOLIO</button></a></div-->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

